In [2]:
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from category_encoders import TargetEncoder
import pandas as pd

# In this notebook i will try to do all of using OHE

In [4]:
data = pd.read_csv("CP_OHE.csv")

In [5]:
data.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,normal,1,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,reversable,1,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,normal,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,normal,0,0,1,0

In [6]:
dum = pd.get_dummies(data["Thal"],dtype=int,drop_first = True)

In [7]:
dum.head()

   normal  reversable
0       0           0
1       1           0
2       0           1
3       1           0
4       1           0

In [8]:
data2 = data.drop("Thal",axis = 1)

In [9]:
data2.columns

Index(['Age', 'Sex', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR', 'ExAng',
       'Oldpeak', 'Slope', 'Ca', 'Target', 'CP_nonanginal', 'CP_nontypical',
       'CP_typical'],
      dtype='object')

In [10]:
data2 = pd.concat([data2,dum],axis=1)

In [11]:
data2.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Target,CP_nonanginal,CP_nontypical,CP_typical,normal,reversable
0,63,1,145,233,1,2,150,0,2.3,3,0,0,0,0,1,0,0
1,67,1,160,286,0,2,108,1,1.5,2,3,1,0,0,0,1,0
2,67,1,120,229,0,2,129,1,2.6,2,2,1,0,0,0,0,1
3,37,1,130,250,0,0,187,0,3.5,3,0,0,1,0,0,1,0
4,41,0,130,204,0,2,172,0,1.4,1,0,0,0,1,0,1,0

 - Now that i have the data2 with all numerical i will split it

In [13]:
X = data2.drop("Target",axis=1)

In [15]:
X.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,CP_nonanginal,CP_nontypical,CP_typical,normal,reversable
0,63,1,145,233,1,2,150,0,2.3,3,0,0,0,1,0,0
1,67,1,160,286,0,2,108,1,1.5,2,3,0,0,0,1,0
2,67,1,120,229,0,2,129,1,2.6,2,2,0,0,0,0,1
3,37,1,130,250,0,0,187,0,3.5,3,0,1,0,0,1,0
4,41,0,130,204,0,2,172,0,1.4,1,0,0,1,0,1,0

In [18]:
y = data2["Target"]

In [19]:
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state=42)

In [20]:
X_train.shape,X_test.shape, y_train.shape, y_test.shape

((240, 16), (60, 16), (240,), (60,))

- scaling the data

In [30]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
# X_train = pd.DataFrame(X_train_scaled, columns=X_train.columns)
# X_test = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [31]:
X_train.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,CP_nonanginal,CP_nontypical,CP_typical,normal,reversable
0,-0.044150,-1.527525,1.552895,-0.920842,-0.433727,-1.010511,0.566305,-0.67420,-0.915856,-0.993127,0.308879,1.606888,-0.433727,-0.301511,0.904534,-0.802394
1,-0.368513,0.654654,-0.413684,-0.670792,-0.433727,1.002125,-1.127039,1.48324,0.294241,-0.993127,0.308879,-0.622321,-0.433727,3.316625,0.904534,-0.802394
2,0.820821,-1.527525,0.429136,0.475268,-0.433727,1.002125,0.432620,-0.67420,2.195822,2.317296,1.338477,-0.622321,-0.433727,-0.301511,0.904534,-0.802394
3,1.253306,0.654654,1.552895,0.016844,-0.433727,-1.010511,-1.349847,1.48324,-0.915856,0.662085,2.368074,-0.622321,2.305600,-0.301511,-1.105542,-0.802394
4,0.280214,0.654654,1.103391,0.600292,-0.433727,-1.010511,-2.775821,1.48324,0.121370,0.662085,0.308879,-0.622321,-0.433727,-0.301511,-1.105542,1.246271