In [1]:
import pandas as pd

In [18]:
data = pd.read_csv("Data_Cleaned.csv")

In [ ]:
data = data.drop(columns=['Unnamed: 0'])

In [17]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [19]:
data.to_csv("Data_Cleaned.csv")

In [20]:
data.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal',
       'Target'],
      dtype='object')

In [21]:
data = data.drop(columns=['Unnamed: 0'])

In [22]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [24]:
data.to_csv("Data_Cleaned.csv",index = False)

In [25]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [32]:
dum = pd.get_dummies(data["ChestPain"], prefix='CP', dtype=int)
# Note that this will make Dummy Variable Trap, so to avoid it we well use drop_first=True

In [31]:
dum

     CP_asymptomatic  CP_nonanginal  CP_nontypical  CP_typical
0                  0              0              0           1
1                  1              0              0           0
2                  1              0              0           0
3                  0              1              0           0
4                  0              0              1           0
..               ...            ...            ...         ...
295                0              0              0           1
296                1              0              0           0
297                1              0              0           0
298                0              0              1           0
299                0              1              0           0

[300 rows x 4 columns]

In [27]:
dum

     CP_nonanginal  CP_nontypical  CP_typical
0            False          False        True
1            False          False       False
2            False          False       False
3             True          False       False
4            False           True       False
..             ...            ...         ...
295          False          False        True
296          False          False       False
297          False          False       False
298          False           True       False
299           True          False       False

[300 rows x 3 columns]

In [28]:
dum = pd.get_dummies(data["ChestPain"], prefix='CP', dtype=int,drop_first=True)

In [29]:
dum

     CP_nonanginal  CP_nontypical  CP_typical
0                0              0           1
1                0              0           0
2                0              0           0
3                1              0           0
4                0              1           0
..             ...            ...         ...
295              0              0           1
296              0              0           0
297              0              0           0
298              0              1           0
299              1              0           0

[300 rows x 3 columns]

In [33]:
data.head(10)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0
5,56,1,nontypical,120,236,0,0,178,0,0.8,1,0,normal,0
6,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2,normal,1
7,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0,normal,0
8,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1,reversable,1
9,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0,reversable,1

In [34]:
data2 = data

In [35]:
data2

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,typical,110,264,0,0,132,0,1.2,2,0,reversable,1
296,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2,reversable,1
297,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1,reversable,1
298,57,0,nontypical,130,236,0,2,174,0,0.0,2,1,normal,1
299,38,1,nonanginal,138,175,0,0,173,0,0.0,1,2,normal,0

In [36]:
data2 = pd.concat([data2,dum],axis=1)

In [37]:
data2.head(10)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_asymptomatic,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,0,1
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1,1,0,0,0
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1,1,0,0,0
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0,0,1,0,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0,0,0,1,0
5,56,1,nontypical,120,236,0,0,178,0,0.8,1,0,normal,0,0,0,1,0
6,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2,normal,1,1,0,0,0
7,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0,normal,0,1,0,0,0
8,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1,reversable,1,1,0,0,0
9,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0,reversable,1,1,0,0,0

In [38]:
data2 = data2.drop(columns=['ChestPain'])

In [39]:
data2

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_asymptomatic,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,normal,1,1,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,reversable,1,1,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,normal,0,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,normal,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,110,264,0,0,132,0,1.2,2,0,reversable,1,0,0,0,1
296,68,1,144,193,1,0,141,0,3.4,2,2,reversable,1,1,0,0,0
297,57,1,130,131,0,0,115,1,1.2,2,1,reversable,1,1,0,0,0
298,57,0,130,236,0,2,174,0,0.0,2,1,normal,1,0,0,1,0
299,38,1,138,175,0,0,173,0,0.0,1,2,normal,0,0,1,0,0

In [40]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              300 non-null    int64
 1   Sex              300 non-null    int64
 2   RestBP           300 non-null    int64
 3   Chol             300 non-null    int64
 4   Fbs              300 non-null    int64
 5   RestECG          300 non-null    int64
 6   MaxHR            300 non-null    int64
 7   ExAng            300 non-null    int64
 8   Oldpeak          300 non-null    float64
 9   Slope            300 non-null    int64
 10  Ca               300 non-null    int64
 11  Thal             300 non-null    object
 12  Target           300 non-null    int64
 13  CP_asymptomatic  300 non-null    int64
 14  CP_nonanginal    300 non-null    int64
 15  CP_nontypical    300 non-null    int64
 16  CP_typical       300 non-null    int64
dtypes: float64(1), int64(15), object(1)
memory usage: 40.0+ KB

In [41]:
data2["Thal"].unique()

array(['fixed', 'normal', 'reversable'], dtype=object)

In [67]:
df_No_Kfold = data2 # i am making a new df to try different variants of target encoding

In [68]:
df_No_Kfold

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_asymptomatic,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,normal,1,1,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,reversable,1,1,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,normal,0,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,normal,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,110,264,0,0,132,0,1.2,2,0,reversable,1,0,0,0,1
296,68,1,144,193,1,0,141,0,3.4,2,2,reversable,1,1,0,0,0
297,57,1,130,131,0,0,115,1,1.2,2,1,reversable,1,1,0,0,0
298,57,0,130,236,0,2,174,0,0.0,2,1,normal,1,0,0,1,0
299,38,1,138,175,0,0,173,0,0.0,1,2,normal,0,0,1,0,0

In [ ]:
!pip install category_encoders

In [70]:
from category_encoders import TargetEncoder

In [71]:
te = TargetEncoder()
#fit the data
te.fit(X=df_No_Kfold["Thal"],y=df_No_Kfold["Target"])
result = te.transform(df_No_Kfold["Thal"])

In [72]:
result

         Thal
0    0.553034
1    0.222892
2    0.767221
3    0.222892
4    0.222892
..        ...
295  0.767221
296  0.767221
297  0.767221
298  0.222892
299  0.222892

[300 rows x 1 columns]

In [73]:
result["Thal"].unique()

array([0.55303431, 0.22289167, 0.76722057])

In [74]:
df_No_Kfold=df_No_Kfold.drop(columns= "Thal")

In [75]:
df_No_Kfold

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Target,CP_asymptomatic,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,0,0,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,1,1,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,1,1,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,0,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,110,264,0,0,132,0,1.2,2,0,1,0,0,0,1
296,68,1,144,193,1,0,141,0,3.4,2,2,1,1,0,0,0
297,57,1,130,131,0,0,115,1,1.2,2,1,1,1,0,0,0
298,57,0,130,236,0,2,174,0,0.0,2,1,1,0,0,1,0
299,38,1,138,175,0,0,173,0,0.0,1,2,0,0,1,0,0

In [76]:
df_No_Kfold = pd.concat([df_No_Kfold,result],axis=1)

In [77]:
df_No_Kfold.head(10)

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Target,CP_asymptomatic,CP_nonanginal,CP_nontypical,CP_typical,Thal
0,63,1,145,233,1,2,150,0,2.3,3,0,0,0,0,0,1,0.553034
1,67,1,160,286,0,2,108,1,1.5,2,3,1,1,0,0,0,0.222892
2,67,1,120,229,0,2,129,1,2.6,2,2,1,1,0,0,0,0.767221
3,37,1,130,250,0,0,187,0,3.5,3,0,0,0,1,0,0,0.222892
4,41,0,130,204,0,2,172,0,1.4,1,0,0,0,0,1,0,0.222892
5,56,1,120,236,0,0,178,0,0.8,1,0,0,0,0,1,0,0.222892
6,62,0,140,268,0,2,160,0,3.6,3,2,1,1,0,0,0,0.222892
7,57,0,120,354,0,0,163,1,0.6,1,0,0,1,0,0,0,0.222892
8,63,1,130,254,0,2,147,0,1.4,2,1,1,1,0,0,0,0.767221
9,53,1,140,203,1,2,155,1,3.1,3,0,1,1,0,0,0,0.767221

In [78]:
df_No_Kfold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              300 non-null    int64
 1   Sex              300 non-null    int64
 2   RestBP           300 non-null    int64
 3   Chol             300 non-null    int64
 4   Fbs              300 non-null    int64
 5   RestECG          300 non-null    int64
 6   MaxHR            300 non-null    int64
 7   ExAng            300 non-null    int64
 8   Oldpeak          300 non-null    float64
 9   Slope            300 non-null    int64
 10  Ca               300 non-null    int64
 11  Target           300 non-null    int64
 12  CP_asymptomatic  300 non-null    int64
 13  CP_nonanginal    300 non-null    int64
 14  CP_nontypical    300 non-null    int64
 15  CP_typical       300 non-null    int64
 16  Thal             300 non-null    float64
dtypes: float64(2), int64(15)
memory usage: 40.0 KB

In [79]:
# now we have this df ready to split and tested in a model
df_No_Kfold.to_csv("df_No_Kfold.csv",index = False)

- Making the other files for the the models