In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Data_Cleaned.csv")

In [3]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [4]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [5]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [6]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [7]:
# data = data.drop("Unnamed: 0",axis =1)

In [8]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [9]:
data.to_csv("Data_Cleaned.csv",index = False)

In [10]:
dum = pd.get_dummies(data["ChestPain"], prefix='CP', dtype=int)
# Note that this will make Dummy Variable Trap, so to avoid it we well use drop_first=True

In [11]:
dum

     CP_asymptomatic  CP_nonanginal  CP_nontypical  CP_typical
0                  0              0              0           1
1                  1              0              0           0
2                  1              0              0           0
3                  0              1              0           0
4                  0              0              1           0
..               ...            ...            ...         ...
295                0              0              0           1
296                1              0              0           0
297                1              0              0           0
298                0              0              1           0
299                0              1              0           0

[300 rows x 4 columns]

In [12]:
dum

     CP_asymptomatic  CP_nonanginal  CP_nontypical  CP_typical
0                  0              0              0           1
1                  1              0              0           0
2                  1              0              0           0
3                  0              1              0           0
4                  0              0              1           0
..               ...            ...            ...         ...
295                0              0              0           1
296                1              0              0           0
297                1              0              0           0
298                0              0              1           0
299                0              1              0           0

[300 rows x 4 columns]

In [13]:
dum = pd.get_dummies(data["ChestPain"], prefix='CP', dtype=int,drop_first=True)

In [14]:
dum

     CP_nonanginal  CP_nontypical  CP_typical
0                0              0           1
1                0              0           0
2                0              0           0
3                1              0           0
4                0              1           0
..             ...            ...         ...
295              0              0           1
296              0              0           0
297              0              0           0
298              0              1           0
299              1              0           0

[300 rows x 3 columns]

In [15]:
data.head(10)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0
5,56,1,nontypical,120,236,0,0,178,0,0.8,1,0,normal,0
6,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2,normal,1
7,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0,normal,0
8,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1,reversable,1
9,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0,reversable,1

In [16]:
data2 = data

In [17]:
data2

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,typical,110,264,0,0,132,0,1.2,2,0,reversable,1
296,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2,reversable,1
297,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1,reversable,1
298,57,0,nontypical,130,236,0,2,174,0,0.0,2,1,normal,1
299,38,1,nonanginal,138,175,0,0,173,0,0.0,1,2,normal,0

In [18]:
data2 = pd.concat([data2,dum],axis=1)

In [19]:
data2.head(10)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,1
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1,0,0,0
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1,0,0,0
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0,1,0,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0,0,1,0
5,56,1,nontypical,120,236,0,0,178,0,0.8,1,0,normal,0,0,1,0
6,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2,normal,1,0,0,0
7,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0,normal,0,0,0,0
8,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1,reversable,1,0,0,0
9,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0,reversable,1,0,0,0

In [20]:
data2 = data2.drop(columns=['ChestPain'])

In [21]:
data2

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,normal,1,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,reversable,1,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,normal,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,normal,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,110,264,0,0,132,0,1.2,2,0,reversable,1,0,0,1
296,68,1,144,193,1,0,141,0,3.4,2,2,reversable,1,0,0,0
297,57,1,130,131,0,0,115,1,1.2,2,1,reversable,1,0,0,0
298,57,0,130,236,0,2,174,0,0.0,2,1,normal,1,0,1,0
299,38,1,138,175,0,0,173,0,0.0,1,2,normal,0,1,0,0

In [22]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            300 non-null    int64
 1   Sex            300 non-null    int64
 2   RestBP         300 non-null    int64
 3   Chol           300 non-null    int64
 4   Fbs            300 non-null    int64
 5   RestECG        300 non-null    int64
 6   MaxHR          300 non-null    int64
 7   ExAng          300 non-null    int64
 8   Oldpeak        300 non-null    float64
 9   Slope          300 non-null    int64
 10  Ca             300 non-null    int64
 11  Thal           300 non-null    object
 12  Target         300 non-null    int64
 13  CP_nonanginal  300 non-null    int64
 14  CP_nontypical  300 non-null    int64
 15  CP_typical     300 non-null    int64
dtypes: float64(1), int64(14), object(1)
memory usage: 37.6+ KB

In [23]:
data2["Thal"].unique()

array(['fixed', 'normal', 'reversable'], dtype=object)

In [24]:
data2.to_csv("CP_OHE.csv",index = False)

- converting Thal to OHE

In [30]:
dum = pd.get_dummies(data["Thal"], prefix = 'Thal',dtype=int,drop_first=True)

In [31]:
dum

     Thal_normal  Thal_reversable
0              0                0
1              1                0
2              0                1
3              1                0
4              1                0
..           ...              ...
295            0                1
296            0                1
297            0                1
298            1                0
299            1                0

[300 rows x 2 columns]

In [27]:
dum

     normal  reversable
0         0           0
1         1           0
2         0           1
3         1           0
4         1           0
..      ...         ...
295       0           1
296       0           1
297       0           1
298       1           0
299       1           0

[300 rows x 2 columns]

In [32]:
data2 = pd.concat([data2,dum],axis=1)

In [33]:
data2.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_nonanginal,CP_nontypical,CP_typical,normal,reversable,Thal_normal,Thal_reversable
0,63,1,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,1,0,0,0,0
1,67,1,160,286,0,2,108,1,1.5,2,3,normal,1,0,0,0,1,0,1,0
2,67,1,120,229,0,2,129,1,2.6,2,2,reversable,1,0,0,0,0,1,0,1
3,37,1,130,250,0,0,187,0,3.5,3,0,normal,0,1,0,0,1,0,1,0
4,41,0,130,204,0,2,172,0,1.4,1,0,normal,0,0,1,0,1,0,1,0

In [34]:
data2 = data2.drop(columns = ["Thal","normal","reversable"])

In [35]:
data2.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Target,CP_nonanginal,CP_nontypical,CP_typical,Thal_normal,Thal_reversable
0,63,1,145,233,1,2,150,0,2.3,3,0,0,0,0,1,0,0
1,67,1,160,286,0,2,108,1,1.5,2,3,1,0,0,0,1,0
2,67,1,120,229,0,2,129,1,2.6,2,2,1,0,0,0,0,1
3,37,1,130,250,0,0,187,0,3.5,3,0,0,1,0,0,1,0
4,41,0,130,204,0,2,172,0,1.4,1,0,0,0,1,0,1,0

In [36]:
data2.to_csv("CP,TH_OHE.csv",index = False)

Now we have the datat to split and train made by OHE

In [ ]:
!pip install scikit-learn

In [66]:
# To split the data

from sklearn.model_selection import train_test_split

In [69]:
data3 = pd.read_csv("CP_OHE.csv")
data3.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,normal,1,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,reversable,1,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,normal,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,normal,0,0,1,0

- For Thal Normal -> 0, fixed -> 1, reversable-> 2

In [70]:
thal_mapping = {
    'normal': 0,
    'fixed': 1,
    'reversable': 2
}

data3['Thal'] = data3['Thal'].map(thal_mapping)

In [71]:
data3.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,1,0,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,0,1,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,2,1,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,0,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,0,0,0,1,0

In [73]:
data3.to_csv("CP-OHE-TH-LBE-.csv",index = False)

In [74]:
data2.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Target,CP_nonanginal,CP_nontypical,CP_typical,Thal_normal,Thal_reversable
0,63,1,145,233,1,2,150,0,2.3,3,0,0,0,0,1,0,0
1,67,1,160,286,0,2,108,1,1.5,2,3,1,0,0,0,1,0
2,67,1,120,229,0,2,129,1,2.6,2,2,1,0,0,0,0,1
3,37,1,130,250,0,0,187,0,3.5,3,0,0,1,0,0,1,0
4,41,0,130,204,0,2,172,0,1.4,1,0,0,0,1,0,1,0

#### Training The data using LogisticRegression with OHE method

In [75]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              300 non-null    int64
 1   Sex              300 non-null    int64
 2   RestBP           300 non-null    int64
 3   Chol             300 non-null    int64
 4   Fbs              300 non-null    int64
 5   RestECG          300 non-null    int64
 6   MaxHR            300 non-null    int64
 7   ExAng            300 non-null    int64
 8   Oldpeak          300 non-null    float64
 9   Slope            300 non-null    int64
 10  Ca               300 non-null    int64
 11  Target           300 non-null    int64
 12  CP_nonanginal    300 non-null    int64
 13  CP_nontypical    300 non-null    int64
 14  CP_typical       300 non-null    int64
 15  Thal_normal      300 non-null    int64
 16  Thal_reversable  300 non-null    int64
dtypes: float64(1), int64(16)
memory usage: 40.0 KB

In [76]:
X1 = data2.drop(columns = ["Target"])

In [77]:
X1.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,CP_nonanginal,CP_nontypical,CP_typical,Thal_normal,Thal_reversable
0,63,1,145,233,1,2,150,0,2.3,3,0,0,0,1,0,0
1,67,1,160,286,0,2,108,1,1.5,2,3,0,0,0,1,0
2,67,1,120,229,0,2,129,1,2.6,2,2,0,0,0,0,1
3,37,1,130,250,0,0,187,0,3.5,3,0,1,0,0,1,0
4,41,0,130,204,0,2,172,0,1.4,1,0,0,1,0,1,0

In [78]:
y1 = data2["Target"]

In [79]:
y1.head()

0    0
1    1
2    1
3    0
4    0
Name: Target, dtype: int64

In [80]:
X1_train, X1_test,y1_train,y1_test = train_test_split(X1,y1,test_size = 0.2,random_state = 42 )

In [81]:
X1_train.shape, X1_test.shape,y1_train.shape,y1_test.shape

((240, 16), (60, 16), (240,), (60,))

In [83]:
from sklearn.linear_model import LogisticRegression 
model1 = LogisticRegression()

In [84]:
model1.fit(X1_train,y1_train)

C:\Users\moham\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

This is an importent error 

that's why we scale our data based on gemini 
Remember your previous question about Scaling? This error is the exact reason why we scale data!

Because Chol is around 300 and Oldpeak is around 1, the "lbfgs" solver is having a hard time navigating the math. It's like trying to walk down a hill where one step is 1 meter long and the next step is 300 meters long—it's clumsy and slow.

If you scale your data using StandardScaler, this error will likely disappear even with the default 100 iterations.


so we will have to scale these 

These have wide ranges and different units.

Age (Range: 29–77)

RestBP (Range: 94–200)

Chol (Range: 126–564)

MaxHR (Range: 71–202)

Oldpeak (Range: 0.0–6.2)

 #-Important Exception
Are you using Decision Trees, Random Forest, or XGBoost? If yes, you do not need to scale at all. These models work by asking "Is Age > 50?". They don't care if Age is 50 or 50,000; the split works the same way.