In [82]:
import pandas as pd

In [83]:
data = pd.read_csv("Data_Cleaned.csv")

In [84]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [85]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [86]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [87]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [88]:
# data = data.drop("Unnamed: 0",axis =1)

In [89]:
data.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [90]:
data.to_csv("Data_Cleaned.csv",index = False)

In [91]:
dum = pd.get_dummies(data["ChestPain"], prefix='CP', dtype=int)
# Note that this will make Dummy Variable Trap, so to avoid it we well use drop_first=True

In [92]:
dum

     CP_asymptomatic  CP_nonanginal  CP_nontypical  CP_typical
0                  0              0              0           1
1                  1              0              0           0
2                  1              0              0           0
3                  0              1              0           0
4                  0              0              1           0
..               ...            ...            ...         ...
295                0              0              0           1
296                1              0              0           0
297                1              0              0           0
298                0              0              1           0
299                0              1              0           0

[300 rows x 4 columns]

In [93]:
dum

     CP_asymptomatic  CP_nonanginal  CP_nontypical  CP_typical
0                  0              0              0           1
1                  1              0              0           0
2                  1              0              0           0
3                  0              1              0           0
4                  0              0              1           0
..               ...            ...            ...         ...
295                0              0              0           1
296                1              0              0           0
297                1              0              0           0
298                0              0              1           0
299                0              1              0           0

[300 rows x 4 columns]

In [94]:
dum = pd.get_dummies(data["ChestPain"], prefix='CP', dtype=int,drop_first=True)

In [95]:
dum

     CP_nonanginal  CP_nontypical  CP_typical
0                0              0           1
1                0              0           0
2                0              0           0
3                1              0           0
4                0              1           0
..             ...            ...         ...
295              0              0           1
296              0              0           0
297              0              0           0
298              0              1           0
299              1              0           0

[300 rows x 3 columns]

In [96]:
data.head(10)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0
5,56,1,nontypical,120,236,0,0,178,0,0.8,1,0,normal,0
6,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2,normal,1
7,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0,normal,0
8,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1,reversable,1
9,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0,reversable,1

In [97]:
data2 = data

In [98]:
data2

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,typical,110,264,0,0,132,0,1.2,2,0,reversable,1
296,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2,reversable,1
297,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1,reversable,1
298,57,0,nontypical,130,236,0,2,174,0,0.0,2,1,normal,1
299,38,1,nonanginal,138,175,0,0,173,0,0.0,1,2,normal,0

In [99]:
data2 = pd.concat([data2,dum],axis=1)

In [100]:
data2.head(10)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,1
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1,0,0,0
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1,0,0,0
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0,1,0,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0,0,1,0
5,56,1,nontypical,120,236,0,0,178,0,0.8,1,0,normal,0,0,1,0
6,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2,normal,1,0,0,0
7,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0,normal,0,0,0,0
8,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1,reversable,1,0,0,0
9,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0,reversable,1,0,0,0

In [101]:
data2 = data2.drop(columns=['ChestPain'])

In [102]:
data2

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,normal,1,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,reversable,1,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,normal,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,normal,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,110,264,0,0,132,0,1.2,2,0,reversable,1,0,0,1
296,68,1,144,193,1,0,141,0,3.4,2,2,reversable,1,0,0,0
297,57,1,130,131,0,0,115,1,1.2,2,1,reversable,1,0,0,0
298,57,0,130,236,0,2,174,0,0.0,2,1,normal,1,0,1,0
299,38,1,138,175,0,0,173,0,0.0,1,2,normal,0,1,0,0

In [103]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            300 non-null    int64
 1   Sex            300 non-null    int64
 2   RestBP         300 non-null    int64
 3   Chol           300 non-null    int64
 4   Fbs            300 non-null    int64
 5   RestECG        300 non-null    int64
 6   MaxHR          300 non-null    int64
 7   ExAng          300 non-null    int64
 8   Oldpeak        300 non-null    float64
 9   Slope          300 non-null    int64
 10  Ca             300 non-null    int64
 11  Thal           300 non-null    object
 12  Target         300 non-null    int64
 13  CP_nonanginal  300 non-null    int64
 14  CP_nontypical  300 non-null    int64
 15  CP_typical     300 non-null    int64
dtypes: float64(1), int64(14), object(1)
memory usage: 37.6+ KB

In [104]:
data2["Thal"].unique()

array(['fixed', 'normal', 'reversable'], dtype=object)

In [123]:
data2.to_csv("CP_OHE.csv",index = False)

In [105]:
df_No_Kfold = data2 # i am making a new df to try different variants of target encoding

In [106]:
df_No_Kfold

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,fixed,0,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,normal,1,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,reversable,1,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,normal,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,normal,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,110,264,0,0,132,0,1.2,2,0,reversable,1,0,0,1
296,68,1,144,193,1,0,141,0,3.4,2,2,reversable,1,0,0,0
297,57,1,130,131,0,0,115,1,1.2,2,1,reversable,1,0,0,0
298,57,0,130,236,0,2,174,0,0.0,2,1,normal,1,0,1,0
299,38,1,138,175,0,0,173,0,0.0,1,2,normal,0,1,0,0

- i have to split the data before using target encoding

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
x = df_No_Kfold.drop("Target",axis=1)

In [109]:
x

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,CP_nonanginal,CP_nontypical,CP_typical
0,63,1,145,233,1,2,150,0,2.3,3,0,fixed,0,0,1
1,67,1,160,286,0,2,108,1,1.5,2,3,normal,0,0,0
2,67,1,120,229,0,2,129,1,2.6,2,2,reversable,0,0,0
3,37,1,130,250,0,0,187,0,3.5,3,0,normal,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0,normal,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,45,1,110,264,0,0,132,0,1.2,2,0,reversable,0,0,1
296,68,1,144,193,1,0,141,0,3.4,2,2,reversable,0,0,0
297,57,1,130,131,0,0,115,1,1.2,2,1,reversable,0,0,0
298,57,0,130,236,0,2,174,0,0.0,2,1,normal,0,1,0
299,38,1,138,175,0,0,173,0,0.0,1,2,normal,1,0,0

In [113]:
y = df_No_Kfold["Target"]

In [114]:
y

0      0
1      1
2      1
3      0
4      0
      ..
295    1
296    1
297    1
298    1
299    0
Name: Target, Length: 300, dtype: int64

trying to make kfold

In [ ]:
!pip install category_encoders

In [122]:
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from category_encoders import TargetEncoder
X_train,X_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state=42)

In [118]:
X_train.shape,X_test.shape, y_train.shape, y_test.shape

((240, 15), (60, 15), (240,), (60,))

In [119]:
X_train.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,CP_nonanginal,CP_nontypical,CP_typical
232,54,0,160,201,0,0,163,0,0.0,1,1,normal,1,0,0
59,51,1,125,213,0,2,125,1,1.4,1,1,normal,0,0,1
6,62,0,140,268,0,2,160,0,3.6,3,2,normal,0,0,0
185,66,1,160,246,0,0,120,1,0.0,2,3,fixed,0,1,0
173,57,1,152,274,0,0,88,1,1.2,2,1,reversable,0,0,0

- Making the other files for the the models